<p>course-tutoring-dashboard works!</p>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="addTutoringSession()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row" *ngFor="let tutoringSession of course.tutoringSessionDtos">
    <div class="col-sm-12">
      <tutoring-session-card [course]="course"  [tutoringSession]="tutoringSession"></tutoring-session-card>
    </div>
  </div>
</div>
