.about-img {
  //height: 225px;
  width: 300px;
}

.for-text {
  line-height: normal;
  text-align: center;
}

.about-text{
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 2em;
}

.top-margin {
  margin-top: 4em;
}
