<div class="component-container">
  <div class="form-container">
    <form class="form-style" [formGroup]="addCourseFormGroup">
      <mat-form-field appearance="fill" class="form-child-stretch">
        <input type="number" matInput placeholder="ID curs ..." formControlName="courseIdControl">
      </mat-form-field>

      <error-message-display
        [displayError]="!isControlValid('courseNameControl', addCourseFormGroup) && isFormSubmitted"
        errorMessage="Introduceți denumirea cursului!">
      </error-message-display>
      <mat-form-field appearance="fill" class="form-child-stretch">
        <input formControlName="courseNameControl" matInput placeholder="Denumire curs ...">
      </mat-form-field>

      <error-message-display
        [displayError]="!isControlValid('courseDomainControl', addCourseFormGroup) && isFormSubmitted"
        errorMessage="Selectați domeniul!">
      </error-message-display>
      <mat-form-field appearance="fill" class="form-child-stretch">
        <mat-label>Domeniu</mat-label>
        <mat-select formControlName="courseDomainControl">
          <mat-option *ngFor="let courseDomain of courseDomains" [value]="courseDomain">
            {{courseDomain}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <error-message-display
        [displayError]="!isControlValid('courseStudyProgramControl', addCourseFormGroup) && isFormSubmitted"
        errorMessage="Selectați programul de studii!">
      </error-message-display>
      <mat-form-field appearance="fill" class="form-child-stretch">
        <mat-label>Program de studii</mat-label>
        <mat-select formControlName="courseStudyProgramControl">
          <mat-option *ngFor="let studyType of studyTypes" [value]="studyType">
            {{studyType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <error-message-display
        [displayError]="!isControlValid('courseYearControl', addCourseFormGroup) && isFormSubmitted"
        errorMessage="Selectați anul de studii!">
      </error-message-display>
      <mat-form-field appearance="fill" class="form-child-stretch">
        <mat-label>An studii</mat-label>
        <mat-select formControlName="courseYearControl">
          <mat-option *ngFor="let studyYear of studyYears" [value]="studyYear">
            {{studyYear}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <error-message-display
        [displayError]="!isControlValid('courseShortDescriptionControl', addCourseFormGroup) && isFormSubmitted"
        errorMessage="Introduceți o descriere!">
      </error-message-display>
      <mat-form-field class="form-child-stretch" appearance="fill">
        <mat-label>Descriere scurta</mat-label>
        <textarea formControlName="courseShortDescriptionControl" matInput></textarea>
      </mat-form-field>

      <error-message-display
        [displayError]="!isControlValid('courseLongDescriptionControl', addCourseFormGroup) && isFormSubmitted"
        errorMessage="Introduceți o descriere!">
      </error-message-display>
      <mat-form-field class="form-child-stretch" appearance="fill">
        <mat-label>Descriere detaliată</mat-label>
        <textarea formControlName="courseLongDescriptionControl" matInput></textarea>
      </mat-form-field>

      <ng-container formArrayName="chapters">
        <h3>Capitole:</h3>
        <button mat-raised-button class="button-margins" (click)="addChapter()">+ Adaugă capitol</button>
        <ng-container *ngFor="let chapterForm of chapters.controls; let i = index">
          <form [formGroup]="chapterForm.parent.controls[i]">

            <error-message-display
              [displayError]="!isControlValid('chapterNameControl', chapterForm.parent.controls[i]) && isFormSubmitted"
              errorMessage="Introduceți denumirea capitolului!">
            </error-message-display>
            <mat-form-field class="form-child-stretch" appearance="fill">
              <input matInput
                     formControlName="chapterNameControl"
                     placeholder="Denumire capitol ...">
            </mat-form-field>
            <mat-icon class="delete-btn" (click)="deleteChapter(i)">
              delete_forever
            </mat-icon>

          </form>
        </ng-container>
      </ng-container>
      <!--      <button mat-mini-fab (click)="addChapter()">-->
      <!--        <mat-icon class="add-course-btn">add</mat-icon>-->
      <!--      </button>-->
    </form>

    <div mat-dialog-actions>
      <button mat-button (click)="onClose()">Închide</button>
      <button mat-button color="primary" *ngIf="!existsCourse()" (click)="onCreate()" cdkFocusInitial>Adaugă</button>
      <!-- [disabled]="!addCourseFormGroup.valid" -->
      <button mat-button color="primary" *ngIf="existsCourse()" (click)="onEdit()" cdkFocusInitial>Editează</button>
    </div>
  </div>
</div>


