<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="home-first-group">
        <h1 class="home-banner-title">Învațământ fără limite</h1>
        <p class="marg-top">Dezvoltă-ți un viitor strălucit, urmând cursurile academiei noastre. Îți propunem obținerea
          unei certificări
          în următoarele domenii: e-Commerce, Web Design, Baze de Date, Analiză de date.
        </p>
        <button class="btn btn-primary marg-top">Înscrie-te acum</button>
      </div>

    </div>
    <div class="col-sm-4">
      <img class="home-img" src="https://i.insider.com/5e7cbdd62d654f10ac3f292b?width=700">
    </div>
  </div>
</div>

<div class="jumbotron text-center">
  <h1>Colaborăm cu importante companii și universități din domeniul Tehnologiei Informației, tocmai pentru a fi la zi cu tehnologiile curente.</h1>
  <div>
    <div class="colaborator-img">
      <a href="/illinois" data-id="illinois">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/6JHlaxZYPoXl6zcTdX5cUs/3d3c073f0b162c24e56712a98dc43c0f/illinois.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=32"
          style="max-height:32px" alt="University of Illinois at Urbana-Champaign">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/duke" data-id="duke">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/3L6Yc78fmNIFF3gVCvSDQg/a2a9912f5a449cabb9ef31f387435df2/duke_updated_2020.png?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=32"
          style="max-height:32px" alt="Duke University">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/duke" data-id="duke">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/3L6Yc78fmNIFF3gVCvSDQg/a2a9912f5a449cabb9ef31f387435df2/duke_updated_2020.png?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=32"
          style="max-height:32px" alt="Duke University">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/google" data-id="google">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/1c6RjBHi3Lqb9QpWxje7iA/b529f909c5230af3210ba2d47d149620/google.png?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=37"
          style="max-height:37px" alt="Google">
      </a>
    </div>
    <div class="colaborator-img">
      <a data-id="umich">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/60SA8pGxPXMmJf4n7umK1H/ccec31bbe2358210bf8391dcba6cd2f1/umich.png?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
          style="max-height:55px" alt="University of Michigan">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/ibm" data-id="ibm">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/4adnkcJIgVKTinBB0j9GF8/446867ff27d8b40ea8b2c540eceae328/ibm.png?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=32"
          style="max-height:32px" alt="IBM">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/imperial" data-id="imperial">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/FHOd44z40jTFsSSao84AM/d1e357f5650a23bf2936114112d44445/imperial.png?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=35"
          style="max-height:35px" alt="Imperial College London">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/stanford" data-id="stanford">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/4FSFmNXuDIzTvFb7n0v4mK/704ae9e0a7981fb6415f4cb4609bbbb3/stanford.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=27"
          style="max-height:27px" alt="Stanford University">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/penn" data-id="penn">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://images.ctfassets.net/wp1lcwdav1p1/1ZeiauXe5bPProvfuIo7o2/55d005d42979ab585cdfa01f825b7d4f/penn.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=37"
          style="max-height:37px" alt="University of Pennsylvania">
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-10 center">
      <h1 class="text-justify">Atinge-ți obiectivele prin intermediul cursurilor Academiei Study IT</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="center-img">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-rebrand/achieve-your-goals/Icon-Learn.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
          class="_laqrpf" style="max-height:55px" alt="">
      </div>
      <div>
        <h2>Dobândește abilități din era informațională</h2>
        <p>precum Analiza datelor, Web Design, Machine Learning și altele ...</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="center-img">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-rebrand/achieve-your-goals/Icon-Get-Ready.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
          style="max-height:55px" alt="">
      </div>
      <div>
        <h2>Fii pregătit pentru o carieră</h2>
        <p>te ajutăm să dobândești toate abilitățile necesare angajării în domeniul IT</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="center-img">
        <img
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-rebrand/achieve-your-goals/Icon-Earn-Degree.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
          style="max-height:55px" alt="">
      </div>
      <div>
        <h2>Obține o diploma de certificare</h2>
        <p>în domeniul tehnologiei ingormației recunoscută la nivel mondial</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="center-img">
        <img
        src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-rebrand/achieve-your-goals/Icon-Upskill-your-org.svg?auto=format%2Ccompress&amp;dpr=1&amp;w=&amp;h=55"
        style="max-height:55px" alt="">
      </div>
      <div>
        <h2>Dezvoltare continuă</h2>
        <p>urmând un plan de învățănânt hibrid, etapizat și adaptat nevoilor actuale</p>
      </div>
    </div>
  </div>
</div>


