<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="home-first-group">
        <h1 class="home-banner-title">Învațământ fără limite</h1>
        <p class="marg-top">Dezvoltă-ți un viitor strălucit, urmând cursurile academiei noastre. Îți propunem obținerea
          unei certificări
          în următoarele domenii: e-Commerce, Web Design, Baze de Date, Analiză de date.
        </p>
        <button [routerLink]="['/register']" class="btn btn-primary marg-top">Înscrie-te acum</button>
      </div>

    </div>
    <div class="col-sm-4">
      <img class="home-img" src="assets/img/home_page_pic.jpg" alt="Home page pic">
    </div>
  </div>
</div>

<div class="jumbotron text-center">
  <h1>Colaborăm cu importante companii și universități din domeniul Tehnologiei Informației, tocmai pentru a fi la zi cu tehnologiile curente.</h1>
  <div>
    <div class="colaborator-img">
      <a href="/illinois" data-id="illinois">
        <img
          src="assets/img/illinois.png"
          style="max-height:32px" alt="University of Illinois at Urbana-Champaign">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/duke" data-id="duke">
        <img
          src="assets/img/duke.png"
          style="max-height:32px" alt="Duke University">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/google" data-id="google">
        <img
          src="assets/img/google.png"
          style="max-height:37px" alt="Google">
      </a>
    </div>
    <div class="colaborator-img">
      <a data-id="umich">
        <img
          src="assets/img/umich.jfif"
          style="max-height:55px" alt="University of Michigan">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/ibm" data-id="ibm">
        <img
          src="assets/img/ibm.png"
          style="max-height:32px" alt="IBM">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/imperial" data-id="imperial">
        <img
          src="assets/img/imperial.png"
          style="max-height:35px" alt="Imperial College London">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/stanford" data-id="stanford">
        <img
          src="assets/img/stanford.png"
          style="max-height:27px" alt="Stanford University">
      </a>
    </div>
    <div class="colaborator-img">
      <a href="/penn" data-id="penn">
        <img
          src="assets/img/penn.png"
          style="max-height:37px" alt="University of Pennsylvania">
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-10 center">
      <h1 class="text-justify">Atinge-ți obiectivele prin intermediul cursurilor Academiei Study IT</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="center-img">
        <img
          src="assets/img/Icon-Learn.png"
          class="_laqrpf" style="max-height:55px" alt="">
      </div>
      <div>
        <h2>Dobândește abilități din era informațională</h2>
        <p>precum Analiza datelor, Web Design, Machine Learning și altele ...</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="center-img">
        <img
          src="assets/img/Icon-Get-Ready.png"
          style="max-height:55px" alt="">
      </div>
      <div>
        <h2>Fii pregătit pentru o carieră</h2>
        <p>te ajutăm să dobândești toate abilitățile necesare angajării în domeniul IT</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="center-img">
        <img
          src="assets/img/Icon-Earn-Degree.png"
          style="max-height:55px" alt="">
      </div>
      <div>
        <h2>Obține o diploma de certificare</h2>
        <p>în domeniul tehnologiei ingormației recunoscută la nivel mondial</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="center-img">
        <img
        src="assets/img/Icon-Upskill-your-org.png"
        style="max-height:55px" alt="">
      </div>
      <div>
        <h2>Dezvoltare continuă</h2>
        <p>urmând un plan de învățănânt hibrid, etapizat și adaptat nevoilor actuale</p>
      </div>
    </div>
  </div>
</div>


