<mat-toolbar color="primary" class="app-toolbar">
  <span>
    <img class="logo" src="assets/img/logo.png" alt="Logo">
  </span>
  <nav class="left-navbar">
    <a routerLink="/home">Acasa</a>
    <a *ngIf="isLoggedIn" routerLink="/courses-dashboard">Cursuri</a>
    <a routerLink="/about">Despre</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/users-dashboard">Utilizatori</a>
    <a routerLink="/contact-requests-dashboard">Solicitări contact</a>
  </nav>
  <nav class="right-navbar" *ngIf="!isLoggedIn">
    <a href="/register" class="nav-link" routerLink="register">Înregistrează-te</a>
    <a href="/login" class="nav-link" routerLink="login">Login</a>
  </nav>
  <nav class="right-navbar" *ngIf="isLoggedIn">
    <a href="/my-profile" class="nav-link" routerLink="my-profile">{{ username }}</a>
    <a href class="nav-link" (click)="logout()">LogOut</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
