<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step *ngFor="let chapter of chapters; let i = index">
      <ng-template matStepLabel>{{chapter.name}}</ng-template>
      <p>{{chapter.content}}</p>
      <div>
        <button mat-button matStepperPrevious *ngIf="i > 0">Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Felicitări, ați finalizat cursul!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
