<mat-stepper orientation="vertical" [linear]="isLinear" #stepper *ngIf="course?.content?.chapters">
  <mat-step *ngFor="let chapter of course.content.chapters; let i = index">
      <ng-template matStepLabel>{{chapter.name}}</ng-template>
    <video width="320" height="240" controls>
      <source src="/../../../../../assets/video/countdown.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
      <div>
        <button mat-button matStepperPrevious *ngIf="i > 0">Înapoi</button>
        <button mat-button matStepperNext>Următorul</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizare</ng-template>
    <p>Felicitări, ați finalizat cursul!</p>
    <div>
      <button mat-button matStepperPrevious>înapoi</button>
      <button mat-button (click)="stepper.reset()">Reîncepe</button>
    </div>
  </mat-step>
</mat-stepper>
