<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label>Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username-ul e obligatoriu!</div>
          <div *ngIf="username.errors.minlength">
            Username-ul trebuie sa conțina minim 3 caractere!
          </div>
          <div *ngIf="username.errors.maxlength">
            Username-ul trebuie sa conțina maxim 20 caractere!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Rol</label>
        <select id="branch" name="role"
                [(ngModel)]="form.role"
                required
                role
                class="form-control"
                #role="ngModel">
          <option *ngFor="let role of roles" value="{{role}}">{{role | uppercase}}</option>
        </select>
        <div class="alert-danger" *ngIf="role.errors && f.submitted">
          <div *ngIf="role.errors.required">Rolul este obligatoriu!</div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email-ul e obligatoriu!</div>
          <div *ngIf="email.errors.email">
            Email invalid!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="4"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Parola e obligatorie!</div>
          <div *ngIf="password.errors.minlength">
            Parola trebuie sa contina minim 4 caractere!
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Înregistrază-te</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Înregistrare eșuată!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Înregistrare cu succes!
    </div>
  </div>
</div>
