<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="search-courses-form">
        <mat-form-field class="search-courses-input">
          <input type="search"
                 [(ngModel)]="courseNameFilter"
                 [ngModelOptions]="{standalone: true}"
                 matInput
                 placeholder="Căutare cursuri ..." >
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 positioning">
      <mat-form-field appearance="fill" class="margins">
        <mat-label>Ordonare</mat-label>
        <mat-select (selectionChange)="onOrderingFilterChange($event)">
          <mat-option *ngFor="let orderingType of orderingTypes" [value]="orderingType">
            {{orderingType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="margins">
        <mat-label>Filtrare domeniu</mat-label>
        <mat-select (selectionChange)="onFilterChange($event)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let courseDomain of courseDomains" [value]="{type: 'domain', name: courseDomain}">
            {{courseDomain}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="margins">
        <mat-label>Filtrare program studii</mat-label>
        <mat-select (selectionChange)="onFilterChange($event)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let studyProgram of studyPrograms" [value]="{type: 'studyProgram', name: studyProgram}">
            {{studyProgram}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="margins">
        <mat-label>Filtrare an studii</mat-label>
        <mat-select (selectionChange)="onFilterChange($event)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let studyYear of studyYears" [value]="{type: 'year', name: studyYear}">
            {{studyYear}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="addCourse()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row" *ngFor="let course of courses | courseNameFilter : courseNameFilter">
    <div class="col-sm-12">
      <course-card [course]="course"></course-card>
    </div>
  </div>
</div>

