.search-courses-form {
  width: 100%;
  padding: 2em 0em 2em 0em;
}

.search-courses-input {
  width: 100%;
}

.margins {
  margin-right: 1em;
}

.positioning {
  position: relative;
}

.center-button {
  position: absolute;
  top: 12%;
}


