<div class="component-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <button [routerLink]="['/courses-dashboard', course.id]"
                mat-raised-button color="primary" class="subscribe-btn-style"
        (click)="onSubscribe()">Înscrie-te</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h1>{{course.name}}</h1>
        <h2>Descriere</h2>
        <p>{{course.content?.longDescription}}</p>
      </div>
      <div class="col-sm-6">
        <h1>Cuprins</h1>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item> 1. Capitolul 1 </mat-list-item>
          <mat-list-item> 2. Capitolul 2 </mat-list-item>
          <mat-list-item> 3. Capitolul 3</mat-list-item>
          <mat-list-item> 3. Capitolul 4</mat-list-item>
          <mat-list-item> 3. Capitolul 5</mat-list-item>
          <mat-list-item> 3. Capitolul 6</mat-list-item>
          <mat-list-item> 3. Capitolul 7</mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button mat-button color="primary" class="close-btn-style" (click)="onClose()">Închide</button>
      </div>
    </div>
  </div>
</div>
